/* SECCIÓN DEL MENÚ */
.menu-section {
    background: #e02c2c;
    padding: 80px 40px;
    text-align: center;
}

.menu-title {
    font-size: 3.5rem;
    font-weight: 900;
    color: #222;
    margin-bottom: 50px;
}

/* GRID DE PLATOS */
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 40px;
    max-width: 1200px;
    margin: auto;
}

/* TARJETAS */
.menu-item {
    background: #f7f7f7;
    border-radius: 15px;
    padding-bottom: 20px;
    overflow: hidden;
    box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
    transition: transform .2s ease;
}

.menu-item:hover {
    transform: translateY(-8px);
}

/* IMÁGENES */
.menu-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

/* TEXTOS */
.menu-item h3 {
    margin-top: 15px;
    font-size: 1.8rem;
    color: #333;
    font-weight: 800;
}

.menu-item p {
    color: #555;
    padding: 0 15px;
    font-size: 1rem;
    margin-top: 10px;
}
/* BOTÓN PARA VOLVER AL INICIO */
.btn-inicio {
    display: inline-block;
    background: #d31330;        /* Rojo del diseño */
    color: white;
    text-decoration: none;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 1.1rem;
    font-weight: bold;
    transition: 0.3s;
    margin: 40px auto;
}

.btn-inicio:hover {
    background: #b10f29;
    transform: translateY(-3px);
}
